/* HEADER */

/* ensure to incorporate changes before submitting the final from idex */
header {
    background-color: #BFA891;
    text-align: left;
    padding: 30px 40px;
    margin-top: auto;
}

/* HEADER - MENU */
.about {
    position: absolute;
    width: 56px;
    height: 12px;
    left: 219px;
    top: 84px;

    /* might change the font later on to a san serif one*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;

    /* leading-trim: both;
    text-edge: cap; */
    display: flex;
    align-items: center;

    color: #333333;
}

.our_range {
    position: absolute;
    width: 94px;
    height: 12px;
    left: 325px;
    top: 84px;

    /* might change the font later on to a san serif one*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;

    /* leading-trim: both;
    text-edge: cap; */
    display: flex;
    align-items: center;

    color: #333333;
}

.location {
    position: absolute;
    width: 102px;
    height: 12px;
    left: 469px;
    top: 84px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;

    /* leading-trim: both;
    text-edge: cap; */
    display: flex;
    align-items: center;

    color: #333333;
}

/* BODY */

body {
    background-color: FFFEFD;
}

/* title - shopping bag */
/* h1 {
    text-align: center;
    width: 285px;
    height: 28px;
    left: 498px;
    top: 252px; */

    h1 {
        text-align: center;
        margin: auto;
        padding: 20px;
        width: 286px;
        height: 21px;
    }

    /* search for a suitable font and use it for the entire website as "inter" does not exist in css*/
    /* font-family: 'Inter';
    font-style: normal;*/
    /* font-weight: 400;
    font-size: 38px;
    line-height: 60px; */

    /* display: flex;
    align-items: center;

    color: #333333;
} */

/* CONTAINER - in the middle behind text */
.container {
    margin: auto;
    width: 1010px;
    height: 721px;
    left: 135px;
    top: 268px;

    background: #F4F1EB;
}


/* ORDER CONFIRMED DETAILS TOP */
/* change to responsive ltr */

.myOrder {
    /* text-align: left;
    margin: auto; */
    position: absolute;
    width: 104px;
    height: 15px;
    left: 187px;
    top: 299px;
}

.name {
    position: absolute;
    width: 245px;
    height: 17px;
    left: 307px;
    top: 366px;
}

.grams {
    position: absolute;
    width: 57px;
    height: 17px;
    left: 307px;
    top: 400px;
}

.orderNum {
    position: absolute;
    width: 231px;
    height: 15px;
    left: 871px;
    top: 299px;
}

.quantity {
    position: absolute;
    width: 112px;
    height: 17px;
    left: 976px;
    top: 366px;
}

/* SUBTOTAL AT THE MIDDLE SECTION */

.subtotal {
    position: absolute;
    width: 114px;
    height: 16px;
    left: 184px;
    top: 514px;
}

.subtotalAmount {
    position: absolute;
    width: 71px;
    height: 16px;
    left: 1024px;
    top: 522px;
}

.shipping {
    position: absolute;
    width: 103px;
    height: 16px;
    left: 185px;
    top: 554px;
}

.shippingFee {
    position: absolute;
    width: 54px;
    height: 16px;
    left: 1041px;
    top: 558px;
}

hr {
    margin: auto;
    width: 918px;
    left: 184px;
    top: 598px;
}

.totalIncGST {
    position: absolute;
    width: 183px;
    height: 16px;
    left: 185px;
    top: 629px;
}

.totalCost {
    position: absolute;
    width: 75px;
    height: 16px;
    left: 1020px;
    top: 628px;
}

/* PERSONAL DETAILS AT THE BOTTOM SECTION */

.shippingTo {
    position: absolute;
    width: 112px;
    height: 15px;
    left: 187px;
    top: 680px;
}

.shippingAddress1 {
    position: absolute;
    width: 244px;
    height: 12px;
    left: 187px;
    top: 720px;
}

.shippingAddress2 {
    position: absolute;
    width: 218px;
    height: 12px;
    left: 187px;
    top: 745px;
}

.payment {
    position: absolute;
    width: 86px;
    height: 15px;
    left: 187px;
    top: 788px;
}

.paymentDetails {
    position: absolute;
    width: 145px;
    height: 12px;
    left: 187px;
    top: 826px;
}

/* insert a vertical line here*/

.billingTo {
    position: absolute;
    width: 85px;
    height: 15px;
    left: 666px;
    top: 680px;
}

.billingAddress1 {
    position: absolute;
    width: 244px;
    height: 12px;
    left: 666px;
    top: 720px;
}

.billingAddress2 {
    position: absolute;
    width: 218px;
    height: 12px;
    left: 666px;
    top: 745px;
}

h5 {
    position: absolute;
    width: 347px;
    height: 65px;
    left: 467px;
    top: 833px;
}

/* .morkAlternativeLogo {
    dwf
}




/* FOOTER */
/* copy and paste from index when finalised */
/* footer {
    margin: auto;
    width: 1280px;
    height: 183px;
    left: 0px;
    top: 1084px;
    background: #F4F1EB;
    padding: 30px 40px;
}  */