body {
    background-color: FFFEFD;
}

header {
    background-color: #BFA891;
    padding: 30px 40px;
    margin-top: 0px;
}

.header {
    display: inline-flex;
    align-items: center;
}

.menu {
    display: flex; 
    font-size: 10px;
    padding-left: 30px;
}

.explore {
    padding-left: 60px;
    padding-top: 70px;
    max-width: 225px;
}

.here { /* here button */
    background-color: #EDE1CB;
    border: none;
    padding: 13px 37px;
    text-align: center;
    border-radius: 6px;
    font-size: 20px;
}

.explorepicture {
    position: absolute;
    width: 360px;
    height: 472.78px;
    left: 740px;
    top: 229.13px;
    transform: rotate(-20deg);
}

.learn {
    padding-left: 560px;
    padding-top: 300px;
    max-width: 250px;
}

footer {
    position: absolute;
    width: 1280px;
    height: 183px;
    left: 0px;
    top: 1084px;
    background: #F4F1EB;
}
