body {
    background-color: FFFEFD;
}

/* format menu (headings) to lay out horizontally with the addition of the logo on the side*/

header {
    background-color: #BFA891;
    padding: 20px 10px;
    text-align: left;
    padding: 20px;
    font-size: 30px;
}

footer {
    position: absolute;
width: 1280px;
height: 183px;
left: 0px;
top: 1084px;

background: #F4F1EB;
/*arrange the text*/

}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}





/* Main page */

/*TEXT*/
/*explore our range*/
/* EXPLORE OUR RANGE

position: absolute;
width: 350px;
height: 104px;
left: 72px;
top: 296px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #333333;
*/

/*LEARN ABOUT OUR PROCESS
position: absolute;
width: 441px;
height: 104px;
left: 640px;
top: 745px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 60px;
line-height: 60px;

leading-trim: both;
text-edge: cap;
display: flex;
align-items: center;

color: #333333;
*/


/*IMAGES*/
/*for the image on the right (the coffee packaging)

position: absolute;
width: 360px;
height: 472.78px;
left: 740px;
top: 229.13px;

background: url(image.png);
transform: rotate(-20deg);
*/

/* for the image on the left bottom (the cocoa)

position: absolute;
width: 475.66px;
height: 360px;
left: 68px;
top: 740.64px;

background: url(image.png);
transform: rotate(-32.51deg);
*/

/*BUTTON*/

/* TOP LEFT
position: absolute;
width: 130px;
height: 49px;
left: 72px;
top: 424px;

background: #EDE1CB;
border-radius: 12px;
*/

/* BOTTOM RIGHT
position: absolute;
width: 130px;
height: 49px;
left: 640px;
top: 882px;

background: #EDE1CB;
border-radius: 12px;
*/