header {
    background-color: #BFA891;
    padding: 20px 10px;
    text-align: left;
    padding: 20px;
    font-size: 30px;
}

.contact {
    position: absolute;
    width: 68px;
    height: 10px;
    top: 320px;
    left: 94px;
}