body {
    background-color: FFFEFD;
}

p {
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    color: #333333;
}

header {
    background-color: #BFA891;
    padding: 30px 40px;
    margin-top: 0px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}

    .menu {
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        padding-left: 30px;
    } 

.info {
    position: flex;
    text-align: center; /* WHY IS THE INFO TEXT ON THE LEFT LMAO */
}

.title {
    font-size: 38px;
}

.infotext {
    font-size: 12px;
    max-width: 325px;
}

.read {
    background-color: #EDE1CB;
    border: none;
    padding: 13px 37px;
    text-align: center;
    border-radius: 6px;
    font-size: 10px;
    font-family: Verdana, sans-serif;
    font-weight: lighter;
    color: #333333;
}

.productgrid {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px; /* makes the container 600px but also means it can't be in center of page hmm */
    justify-content: center;
    font-size: 10px;
}

.specialtext {
    font-size: 10px;
    max-width: 250px;
}

footer {
    position: block;
    height: 183px;
    left: 0px;
    bottom: 0px;
    background: #F4F1EB;
    padding-left: 30px;
    min-width: 100%; 
}

.footer {
    display: flex;
    justify-content: space-between;
}
    .socials {
        padding-right: 30px; 
        padding-top: 10px;
    }



@media only screen and (max-width: 600px) {
    footer {
        background: #BFA891; /* changes colour of footer when on a small screen */
    }
    .menu {
        display: none;
    }
} 