body {
    background-color: FFFEFD;
}

/* format menu (headings) to lay out horizontally with the addition of the logo on the side*/

/* come back to 
header {
    position: absolute
    width: 1280px;
    height: 182px;
    left: 0px;
    top: 0px;

    background-color: #BFA891;

    /* padding: 20px 10px;
    text-align: left;
    padding: 20px;
    font-size: 30px; */

h1 {
   
    position: absolute;
    width: 285px;
    height: 28px;
    left: 498px;
    top: 252px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 60px;

    display: flex;
    align-items: center;

    color: #333333;
}

footer {
    position: absolute;
width: 1280px;
height: 183px;
left: 0px;
top: 1084px;

background: #F4F1EB;
/*arrange the text*/
}


/* the position and size for the search icon*/
/*name it "search icon with div as a class for icons name:(.searchIcon)*/
.searchIcon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1101px;
    top: 53px;
}

.bagIcon {
    position: absolute;
    width: 48px;
    height: 41px;
    left: 1177px;
    top: 53px;  
}

/* .closeIcon {

    position: relative;
    width: 29px;
    height: 29px;
    left: 10px;
} */

.minusIcon {

    position: absolute;
    width: 16px;
    height: 0px;
    left: 316px;
    top: 524px;
}

.plusIcon {

    position: absolute;
    width: 16px;
    height: 16px;
    left: 477px;
    top: 516px; 
}

/* header menu categories arrangement */

.about {

    position: absolute;
    width: 56px;
    height: 12px;
    left: 219px;
    top: 84px;

    /* might change the font later on to a san serif one*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;

    /* leading-trim: both;
    text-edge: cap; */
    display: flex;
    align-items: center;

    color: #333333;
}

.our_range {

    position: absolute;
    width: 94px;
    height: 12px;
    left: 325px;
    top: 84px;

    /* might change the font later on to a san serif one*/
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;

    /* leading-trim: both;
    text-edge: cap; */
    display: flex;
    align-items: center;

    color: #333333;
}

.location {

    position: absolute;
    width: 102px;
    height: 12px;
    left: 469px;
    top: 84px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;

    /* leading-trim: both;
    text-edge: cap; */
    display: flex;
    align-items: center;

    color: #333333;
}

/*placements of the product description*/

.name {
    
    position: absolute;
    width: 202px;
    height: 14px;
    left: 306px;
    top: 421px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
}


/*border*/
/* Rectangle 9 */

/* position: absolute;
width: 1280px;
height: 399px;
left: 0px;
top: 347px;
/* background: #F4F1EB; */

.Morkpackaging {

    position: absolute;
    width: 180px;
    height: 236px;
    left: 80px;
    top: 389px;

}



/*buttons design*/
.apply_coupon {
    
}