/* HEADER */

header {
    background-color: #BFA891;
    padding: 30px 40px;
    margin-top: 0px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
}

.menu {
     display: flex;
    justify-content: space-between;
    font-size: 16px;
    padding-left: 30px;
 } 

.about {
    padding-right: 20px;
    cursor: pointer;
 }

.ourRange {
    padding-right: 20px;
    cursor: pointer;
}

.locations {
    cursor: pointer;
 }

.headerIcons {
    margin-left: auto;
    cursor: pointer;
}

div{
    padding: 30px;
    color: #333333;;
}


/* BODY */

body {
    background-color: FFFEFD;
}

/* title - shopping bag */

    h1 {
        text-align: center;
        margin: auto;
        padding: 50px;
    }


/* CONTAINER - in the middle behind text */
.container {
    margin: auto;
    width: 1280px;
    height: 399px;
    left: 0px;
    top: 347px;

    background: #F4F1EB;
}

/* PACKAGING IMAGE */
.morkPackagingPic {
    position: absolute;
    width: 180px;
    height: 236px;
    left: 80px;
    top: 389px;
}

/* TEXT - product description on left */
.name {
    
    position: absolute;
    width: 202px;
    height: 14px;
    left: 306px;
    top: 421px;

    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #333333;
    
}

.grams {
    position: absolute;
    width: 45px;
    height: 13px;
    left: 306px;
    top: 453px;
    
}

.quantity {
    position: absolute;
    width: 6px;
    height: 9px;
    left: 396px;
    top: 519px;
}

.price {
    position: absolute;
    width: 45px;
    height: 14px;
    left: 306px;
    top: 599px;
}

.amount {
    position: absolute;
    width: 61px;
    height: 14px;
    left: 480px;
    top: 600px;
}

/*calculation of total*/

.subtotal {
    position: absolute;
    width: 83px;
    height: 12px;
    left: 764px;
    top: 511px;
}

.subtotalAmount {
    position: absolute;
    width: 52px;
    height: 12px;
    left: 1193px;
    top: 512px;
}

.shipping {
    position: absolute;
    width: 302px;
    height: 12px;
    left: 764px;
    top: 541px;
}

.totalIncGST {
    position: absolute;
    width: 133px;
    height: 12px;
    left: 764px;
    top: 590px;
}

.finalTotal {
    position: absolute;
    width: 55px;
    height: 12px;
    left: 1190px;
    top: 590px;
}

/* ICONS */

.searchIcon {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 1101px;
    top: 53px;
}

.bagIcon {
    position: absolute;
    width: 48px;
    height: 41px;
    left: 1177px;
    top: 53px;  
}

.closeIcon {

    position: absolute;
    width: 12px;
    height: 12px;
    left: 8.46px;
    height: 8.46px;


}

.minusIcon {

    position: absolute;
    width: 16px;
    height: 0px;
    left: 316px;
    top: 524px;
}

.plusIcon {

    position: absolute;
    width: 16px;
    height: 16px;
    left: 477px;
    top: 516px; 
}

/* BUTTONS */

.apply_coupon{
    position: absolute;
    width: 159px;
    height: 42px;
    top: 450px;
    left: 1086px;
    background: #EDE1CB;
}

.checkout {
    position: absolute;
    width: 160px;
    height: 42px;
    left: 1090px;
    top: 670px;
    background: #736056;

    text-decoration-color: #F4F1EB;
}



.continue_shopping {
    margin: auto;
    width: 160px;
    height: 42px;
    left: 560px;
    top: 788px;
    background: #EDE1CB;
    border-radius: 6px;
    align-items: center;
}



#coupon{

    position: absolute;
    width: 308px;
    height: 42px;
    left: 764px;
    top: 450px;
    border: 1px solid #333333;

}

/* LINES */
.one{
    position: absolute;
    width: 202px;
    height: 0px;
    left: 335px;
    top: 520px;

    border: 1px solid #333333;
}

.two{
    position: absolute;
    width: 202px;
    height: 0px;
    left: 335px;
    top: 580px;

    border: 1px solid #333333;
}

.three{
    position: absolute;
    width: 481px;
    height: 0px;
    left: 780px;
    top: 595px;
    border: 1px solid #000000;
}

/*ICONS*/

.closeIcon{
    position: absolute;
    width: 29px;
    height: 29px;
    left: 40px;
    top: 450px;
    scale: 60%
;
}

/* FOOTER */
/* copy and paste from index when finalised */
.footer {
    display: flex;
    justify-content: space-between;
}
    .socials {
        padding-right: 30px; 
        padding-top: 10px;
        cursor: pointer;
    }

@media only screen and (max-width: 600px) {
    footer {
        background: #BFA891; /* changes colour of footer when on a small screen */
    }
    .menu {
        font-size: 10px;
        padding-left: 20px;
    }
    .about {
        padding-right: 10px;
    }
    .ourrange {
        padding-right: 10px;
    }
    .explore {
        font-size: 20px;
    }
} 